<div class="jumbotron">
  <div class="container">
    <h1 class="display-4">Medtracker</h1>
    <p class="lead">Track medicine schedules with ease.</p>
    <p class="lead">
      <%= link_to 'Create a patient', new_patient_path, class: 'btn btn-primary btn-lg' %>
    </p>
  </div>
</div>
